.u-margin-bottom {
  &-xl {
    margin-bottom: 11.2rem;
  }
  &-l {
    margin-bottom: 9.6rem;
  }
  &-m {
    margin-bottom: 5.6rem;
  }
  &-s {
    margin-bottom: 2.4rem;
  }
  &-xs {
    margin-bottom: 1.6rem;
  }
}

.u-margin-top {
  &-xl {
    margin-top: 11.2rem;
  }
  &-l {
    margin-top: 9.6rem;
  }
  &-m {
    margin-top: 5.6rem;
  }
  &-s {
    margin-top: 2.4rem;
  }
  &-xs {
    margin-top: 1.6rem;
  }
}
