$color-primary: #55c57a;
$color-secondary: #7ed56f;
$color-primary-dark: #28b485;
$color-blue: rgb(19, 39, 88);
$color-orange: rgb(255, 166, 0);

$color-gery-dark: #777;
$color-white: #fff;

$color-black: #000;

$color-text: #555;
$color-heading: #333;

$default-font: 1.6rem;
